<!DOCTYPE html>
<html>
	<head>
		{% load staticfiles %}
		<meta charset="utf-8">
		<title>Index</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script>
			var staticDomain = "{% static '' %}"; 
			var setPlayerSource = function(url,type){
				var divPlayer = document.getElementById("divPlayer");
				var player = divPlayer.getElementsByTagName("audio")[0];
				player.innerHTML = "";
				var src = document.createElement("source");
				src.src = url;
				src.type = type;
				player.appendChild(src);
				player.load();
			};
			var setUploadFileForm  = function() {
				var divPlayer = document.getElementById("divUploadForm");
				divPlayer.innerHTML = "";
				var fileLable = document.createElement("lable");
				fileLable.innerHTML = "Archivo";
				
				var fileInput = document.createElement("input");
				fileInput.name = "file";
				fileInput.type = "file";
				fileInput.accept = ".mp3,.ogg";

				
				divPlayer.appendChild(fileLable);
				divPlayer.appendChild(fileInput);
				divPlayer.appendChild(document.createElement("br"));
				
				var titleLable = document.createElement("lable");
				titleLable.innerHTML = "Titulo";
				
				var titleInput = document.createElement("input");
				titleInput.name = "title";
				titleInput.type = "text";
				
				divPlayer.appendChild(titleLable);
				divPlayer.appendChild(titleInput);
				divPlayer.appendChild(document.createElement("br"));
				
				var btn = document.createElement("button");
				btn.innerHTML = "Subir";
				btn.onclick = function() {setPlayerSource(item.file,item.type)};
			};

			var loadList = function() {
				$.ajax({
					url: "{% url 'tracks.list' %}",
					success: function(data) {
						console.log(data);
						list = document.getElementById("list");
						data.forEach(
							function (item, index) {
								var lable = document.createElement("lable");
								lable.innerHTML = item.title;
								var btn = document.createElement("button");
								btn.innerHTML = "Select";
								btn.onclick = function() {setPlayerSource(item.file,item.type)};
								list.appendChild(lable);
								list.appendChild(btn);
								list.appendChild(document.createElement("br"));
							}
						)
					}
				})
			};
			
			
			$(document).ready(function() {
				loadList();
			});
			
		</script>
	</head>
	<body>
		"{% static "" %}"
		<button onclick="setUploadFileForm()">Upload Music</button>
		<div id="divUploadForm">
		</div>
		<div id="list">
		</div>
		<div id="divPlayer">
			<audio controls id="player">
			</audio>
		</div>
	</body>
</html>